

.App {
  font-family: 'BrandonGrotesque', Fallback, sans-serif;
  text-align: center;
  color: #272a32;  height: 100vh;
  width: 100vw;
  text-align: center;

}

.app-heading {
  padding: 1rem;
}

.iconsGrid {
  display: flex;
  flex-wrap: wrap;
  margin:2rem 0;
  justify-content: center;
  max-height: 20rem;
  width: 100%;
  height: 20rem;
}


.previewHeading {
  padding:1rem;
}

.previewBox{
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 3px;
  background-color: #0d426a;
  border-color: #0d426a;
  color: white;
  text-transform: uppercase;
  padding: 13px 26px;
  font-size: 14px;
    font-weight: 700;
    font-style: normal;
  font-family: brandon-grotesque;
}

.button:disabled {
  background-color: #0d426a61;
  border-color: #0d426a61;
}

.printButton {
  margin-top: 2rem;
}

.toPrint {
  display: none;
  font-family: 'BrandonGrotesque', Fallback, sans-serif;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1cm; 
  margin: 0.1cm;
  flex-wrap: wrap;
}

@media print {
  .App {
      display: none;
  }

  .toPrint {
      display: grid;
  }
}

/* A4 Landscape */
@page {
  size: A4 portrait;
  margin: 0%;
}