@font-face {
    font-family: BrandonGrotesque;
    src: url("https://hbcapp.com/tmp/HVD%20Fonts%20-%20BrandonGrotesque-Regular.otf") format("opentype");
  }

.root {
    font-family: 'BrandonGrotesque', Fallback, sans-serif;

    background-color: white;
    width: 7.3cm;
    height: 3.7cm;
    display: grid;
    color: black;
    grid-template-columns: 2.6cm 1fr;
}

.logo {
    justify-self: center;
    align-self: center;
    height: 2cm;
    width: 2cm;
}


.body {
text-align: left;
}

.name {
    font-family: 'BrandonGrotesque', Fallback, sans-serif;

font-size: x-large;
}

.youCanCallMe {
   font-size: small;
}
.line {
    margin-top: 1cm;
    border: 1px solid black;
    margin-right: 1cm;
}

.icons {
    margin: 0.2cm 0.2cm 0 0;
    text-align: right;
}

.icon {
    margin-left:0.1cm;
}

