.label {
    height: 3.1cm;
    display: grid;
    color: black;
    grid-template-rows: 7.3mm 1fr;
    font-family: brandon-grotesque;
    width: 6.7cm;
}

.container {
    page-break-after: avoid;
    page-break-inside: avoid;
}

.logoAndText {
    display: grid;
    overflow: hidden;
    grid-template-columns: 2.2cm 1fr;
}

.logo {
    justify-self: center;
    position: relative;
    top: 2mm;
    height: 1.5cm;
    width: 1.5cm;
}

.body {
    text-align: left;
    page-break-inside: avoid;
}

.name {
    font-size: x-large;
}

.youCanCallMe {
    font-size: small;
}

.line {
    margin-top: 7mm;
    border: 1px solid black;
    margin-right: 2mm;
}

.icons {
    overflow: hidden;
    margin: 0.2cm 0.2cm 0 0;
    text-align: right;
}

.icon {
    margin-left: 1.5mm;
}