.label {
    background-color: white;
    height: 3.7cm;
    display: grid;
    color: black;
    grid-template-columns: 2.6cm 1fr;
    font-family: brandon-grotesque;
    width: 6.7cm;
    height: 3.7cm;
}

.logo {
    justify-self: center;
    align-self: center;
    height: 2cm;
    width: 2cm;
}

.body {
    text-align: left;
}

.name {
    font-size: x-large;
}

.youCanCallMe {
    font-size: small;
}

.line {
    margin-top: 5mm;
    border: 1px solid black;
    margin-right: 2mm;
}

.icons {
    height: 5.1mm;
    overflow: hidden;
    margin: 0.2cm 0.2cm 0 0;
    text-align: right;
}

.icon {
    margin-left: 0.1cm;
}