.peopleList {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    width: 100%;
}

.itemList {
    overflow: scroll;
}

.peopleListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.peopleListHeader button {
    height: 1.5rem;
}

.peopleListRow {
    padding: 1px;
    height: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

.peopleListRow div {
    overflow: hidden;
}

.peopleListRow:hover {
    background-color: #e6e6e6;
}

.selected {
    background-color: #329def26;
}

.header {
    font-weight: bold;
}

.header:hover {
    background-color: #ffffff00;
    font-weight: bold;
}

.deleteButton:hover {
    color: rgb(197, 0, 0);
}