.iconButtonRoot {
    color: #272a32;
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 2px;
    margin: 0.5rem;
}

.iconButtonSelected {
    background-color: #0d426a;
    color: white;
}